  <ul>
    <% @attendees.each do |attendee| %>

      <li>
       <h3><%= attendee.name %></h3>
        <%= link_to '詳細內容', event_attendee_path(@event, attendee)%>
        <%= link_to '編輯', edit_event_attendee_path(@event, attendee)%>
        <%= link_to '刪除',event_attendee_path(@event, attendee), :method => :delete %>
      </li>
    <% end %>
  </ul>

<%= link_to '新增參加者', new_event_attendee_path(@event) %>