<% if @event.errors.any? %>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>
<div class="form-group<%= (f.object.errors[:name].any?)? " has-error" : "" %>">
  <%= f.label :name, "Name" %>
  <br>
  <%= f.text_field :name %>
</div>
<div class="form-group">
  <%= f.label :description, "Description" %>
  <br>
  <%= f.text_area :description %>
</div>

<p>
    組別：
   <%= f.collection_check_boxes(:group_ids, Group.all, :id, :name) %>

</p>
 <div class="form-group">
  <%= f.label :category_id, "分類" %>
  <%= f.select :category_id, Category.all.map{ |x| [ x.name, x.id] },  :include_blank => "請選擇!" %>

  <%#= f.collection_select(:category_id, Category.all, :id, :name,  { :prompt => "Please select a cateogry..." } ) %>

</div>
<div class="form-group">
 <%= f.date_field :release %>
</div>

<%= f.fields_for :event_detail do |f2| %>

<div class="form-group">
  <%= f2.label :information, "Information" %>
  <%= f2.text_field :information %>

  <% unless f2.object.new_record? %>
    <%= f2.label :_destroy, 'Remove:' %>
    <%= f2.check_box :_destroy %>
  <% end %>

</div>
<% end %>
