<h3><%= @event.name%></h3>
<%= simple_format(@event.description) %>
<%= @event.release %>
<h2>Attendee List</h2>

<% @event.attendees.each do |a| %>
  <p><%= a.name %></p>
<% end %>
<p><%= link_to 'Back to index', events_path, :class => "btn btn-primary" %></p>
